/* @layer components ensures proper cascade order vs utilities/base styles */
@layer components {
  .card-container {
    container-type: inline-size;
  }
  
  /* @scope ensures no classname collisions */
  @scope (.card-container) {
    .card {
      background-color: var(--surface-primary);
      border: 1px solid var(--border-primary);
      border-radius: 0.5rem;
      padding: 1rem;
      box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
      
      /* nesting */
      & .card-title {
        margin-top: 0;
        margin-bottom: 1rem;
        color: var(--content-primary);
        font-size: 1.25rem;
        font-weight: 600;
      }
    }

    /* adapt based on available space */
    @container (min-width: 768px) {
      .card {
        border-radius: 1rem;
        padding: 1.5rem;

        & .card-title {
          font-size: 1.75rem;
          margin-bottom: 0;
        }
      }
    }
  }
}
