/* @layer ensures proper cascade order relative to base/utility styles */
@layer components {
  .card-container {
    container-type: inline-size;
  }
  
  /* @scope ensures no classname collisions */
  @scope (.card-container) {
    .card {
      background-color: var(--surface-primary);
      border: 1px solid var(--border-primary);
      border-radius: 0.5rem;
      padding: 1rem;
      box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
      display: flex;
      flex-direction: column;
      align-items: stretch;
      text-align: center;
      gap: 1rem;
      
      /* nesting */
      & .card-title {
        margin-top: 0;
        margin-bottom: 1rem;
        color: var(--content-primary);
        font-size: 1.25rem;
        font-weight: 600;
        align-self: center;
      }
    }

    /* adapt based on available space */
    @container (min-width: 768px) {
      .card {
        border-radius: 1rem;
        padding: 2rem;
        gap: 2rem;
        text-align: left;

        & .card-title {
          font-size: 1.75rem;
          margin-bottom: 0;
          align-self: flex-start;
        }
      }
    }
  }
}
